__pycache__/
.vscode/settings.json
snake_game/data.txt
US_state_game/missed_answers.csv
password_manager/passwords.txt
password_manager/passwords.json
flashcard/data/french_words_updated.csv
birthday wisher/user_info.py
birthday_wisher/user_info.py
birthday_wisher/birthdays.csv
