{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
  <p>
    {% for movie in movies %}
      {% if movie['poster_path']%}
        <a href="{{url_for('select', id=movie['id'])}}"> <img src="{{'http://image.tmdb.org/t/p/w300' + movie['poster_path']}}" alt=""  width="300"> </a>
      {%else%}
        <a href="{{url_for('select', id=movie['id'])}}"> <img src="{{url_for('static', filename='images/placeholder.png')}}" alt=""  width="300"> </a>
      {%endif%}
      <p>{{movie['title']}} - {{movie['release_date']}}</p>
    {%endfor%}
  </p>

</div>
{% endblock %}